*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Genos', sans-serif;
    height: 100vh;
    background: #33A1D4;
    background: -webkit-linear-gradient(top left, #33A1D4, #BD6375);
    background: -moz-linear-gradient(top left, #33A1D4, #BD6375);
    background: linear-gradient(to bottom right, #33A1D4, #BD6375);
    background-repeat: repeat-y;
}

table{
    border-collapse: collapse;
    height: 200px;
    margin: 0 auto;    
}
tbody button {
    width: 44px;
}
tbody img {
    width: 20px;
    height: 20px;
}
button img {
    pointer-events: none;
}

.header-lines :not(:nth-child(1)),td:nth-child(1){
    background-color: transparent;
    color: #ffffff;
}
th:nth-child(1){
    background: grey;
    color: white;
}
th,td:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
td,th{
    border: 1px solid black;
}
td:not(:nth-child(1)){
    opacity: 0;
    cursor: pointer;
    width: auto;
}
td:not(:nth-child(1)).active{
    opacity: 1;
    background: rgba(212, 215, 213, 0.4);
    color: white;
    font-weight: bold;
    font-size: 15px;
}
td:last-child{
    border-radius: 20px;
}
td input {
    height: 100%;
    background: transparent;
}
input::placeholder{
    color: white;
}
.btns-container {
    width: 100%;
    display: flex;
    flex-direction:column;
}
button {
    font-weight: bold;
    font-family: 'Genos', sans-serif;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px;
    width: 20%;
}
.btn-add{
    color:#33A1D4;
}
.btn-reset{  
    color: #BD6375;
}
p{
    text-align: center;
    color: rgb(68, 194, 94);
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
}
p.activeParagraphe{
    opacity: 1;
}
